.sq-icon {
  color: #f07473;
  font-size: 12px;
  height: 13px;
  line-height: 15px;
  border: 1px solid #f39897;
  background: #fff2f2;
  border-radius: 3px;
  padding: 0 2px;
  transform: scale(0.8);
  display: block;
  margin-top: 3px;
  margin-right: 3px;
}
.oa-icon {
  background: #f44336;
  color: white;
  transform: scale(0.6);
  height: 22px;
  font-size: 12px;
  border-radius: 3px;
  padding: 0 4px;
  display: block;
}